name: Emarsys SDK - Android CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    name: build step

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
          
      - name: git describe
        run: bash git describe
          
      - name: Lint check
        run: bash ./gradlew lint
          
      - name: Build SDK
        run: bash ./gradlew assembleAndroidTest -x lint

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
          
   #   - name: actions-android-ci
        # You may pin to the exact commit or the version.
        # uses: xdtianyu/actions-android-ci@ef35273266fe3eeb58534bf9239946203aba4100
    #    uses: xdtianyu/actions-android-ci@v1.2.1
