name: Emarsys SDK - Fail test

on:
  workflow_dispatch:

env:
  RELEASE_KEY_PASSWORD:  ${{ secrets.ANDROID_KEYSTORE_PRIVATE_KEY_PASSWORD }}

jobs:
  Build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    name: Build job
    steps:
      - uses: actions/checkout@v2.3.1
        with:
          submodules: true
          fetch-depth: 0 # 0 indicates all history
      - run: git fetch --all || echo "==> Accept any result"
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: echo
        shell: bash
        run: |
          echo "Build job ran"

  One:
    name: First job
    needs: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1
        with:
          submodules: true
          fetch-depth: 0 # 0 indicates all history
      - run: git fetch --all || echo "==> Accept any result"
      - name: Try to fail
          run: exit 1
      - name: Echo if failed
          if: ${{ failure() }}
          run: |
            echo "One job failed"
      - name: echo
        shell: bash
        run: |
          echo "One job ran"

  Two:
    name: Second job
    needs: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1
        with:
          submodules: true
          fetch-depth: 0 # 0 indicates all history
      - run: git fetch --all || echo "==> Accept any result"

      - name: echo
        shell: bash
        run: |
          echo "Two job ran"

  Final:
    name: Final job
    runs-on: ubuntu-latest
    needs: [Build, One, Two]
    steps:
      - uses: actions/checkout@v2.3.1
        with:
          submodules: true
          fetch-depth: 0 # 0 indicates all history
      - run: git fetch --all || echo "==> Accept any result"

      - name: echo
        shell: bash
        run: |
          echo "Final job ran"


