name: Emarsys SDK - Fail test

on:
  workflow_dispatch:

env:
  RELEASE_KEY_PASSWORD:  ${{ secrets.ANDROID_KEYSTORE_PRIVATE_KEY_PASSWORD }}
  SLACK_CHANNEL: ${{ secrets.SLACK_CHANNEL }}
  SLACK_ICON: https://icons.iconarchive.com/icons/martz90/circle/256/android-icon.png
  SLACK_TITLE: Android Pipeline
  SLACK_USERNAME: ${{ secrets.SLACK_USERNAME }}
  SLACK_APP_TOKEN: ${{ secrets.SLACK_WEBHOOK }}

jobs:
  Build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    name: Build job
    steps:
      - uses: actions/checkout@v2.3.1
        with:
          submodules: true
          fetch-depth: 0 # 0 indicates all history
      - run: git fetch --all || echo "==> Accept any result"
      - name: Koszones
        uses: megamegax/slack_action@0.1.16
        with:
          channel: ${{ secrets.SLACK_CHANNEL }}
          message: 'message'
          user_name: 'pcsarc'
          job_status: 'success'
          user_icon: 'https://icons.iconarchive.com/icons/martz90/circle/256/android-icon.png'
